@import 'fonts';
$font-roboto: 'Roboto', 'Arial', sans-serif;
$font-lato: 'Lato', 'Arial', sans-serif;

$border-radius: 5px;

$color-text: #1f2432;
$color-dark: #212121;
$color-dark-2: #2c3242;
$color-dark-3: #33374e;
$color-grey-1: #797b86;
$color-grey-2: #90a2b5;
$color-grey-3: #c4c4c4;
$color-grey-4: #f6f8fa;
$color-grey-5: #aeb0b6;
$color-white: #fff;
$color-primary: #0069b4;
$color-hover: #0095ff;
$color-active: #042a44;
$color-warn: #f33535;

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  min-width: 320px;
  font-family: $font-lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 145%;
  color: $color-text;
  background-color: $color-white;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

a,
input,
select,
button {
  outline: none;
  user-select: none;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  color: inherit;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.no-scroll {
  overflow: hidden;
}

.interactive {
  transition: 0.15s ease-in color;

  &:focus-visible:not(:active),
  &:hover:not(:focus):not(:active) {
    color: $color-hover;
  }
  &:active {
    color: $color-active;
  }
}

.interactive--warn {
  &:focus-visible:not(:active),
  &:hover:not(:focus):not(:active) {
    color: $color-warn;
  }
}

.header {
  &__top {
    min-height: 45px;
  }

  &__bottom {
    display: flex;
    justify-content: end;
    min-height: 95px;
  }

  &__cart-info {
    margin-right: -10px;
  }
}

.main {
  padding: 30px 0;

  &__breadcrumbs {
    margin-bottom: 24px;
  }
}

.cart-info {
  display: flex;
  align-items: center;
  padding: 10px;

  &__icon {
    grid-column: 1;
    grid-row: 1 / 4;
    align-self: center;
    margin-right: 10px;
    color: $color-primary;
    transition: 0.15s ease-in color;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }

  &__count {
    font-size: 12px;
    line-height: 100%;
    color: $color-grey-1;
  }

  &__total {
    font-size: 12px;
  }

  &:focus-visible:not(:active) &__icon,
  &:hover:not(:focus):not(:active) &__icon {
    color: $color-hover;
  }

  &:active &__icon {
    color: $color-active;
  }
}

.breadcrumbs {
  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    &::after {
      content: '';
      margin: 0 6px;
      border: 5px solid transparent;
      border-left-color: currentColor;
      display: inline-block;
      height: 8px;
    }
  }

  &__item:last-child {
    color: $color-grey-1;
  }

  &__link {
    &--current {
      cursor: initial;
    }
  }
}

.section {
  padding: 36px 0 60px;

  &__title {
    font-size: 30px;
    font-weight: 600;
    line-height: 120.523%;
  }
}

.cart {
  &__form {
    display: grid;
    grid-template-columns: 800px 425px;
    gap: 0 55px;
  }

  &__top {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 30px;
    display: flex;
    align-items: baseline;
  }

  &__title {
    margin-right: 22px;
    margin-bottom: 0;
    font-size: 44px;
    font-weight: 700;
    line-height: 120.523%;
  }

  &__count {
    margin-right: auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 145%;
    color: $color-grey-1;
  }

  &__btn-clear {
    position: relative;
    margin-right: 10px;
    color: $color-grey-1;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      display: block;
      border-bottom: 1px solid currentColor;
      width: 100%;
      font-size: 14px;
      transition: 0.15s ease-in border-color;
    }
  }

  &__products {
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 20px;
    min-height: 440px;
  }

  &__setup-label {
    grid-column: 1;
    grid-row: 3;
    border-radius: $border-radius;
    padding: 25px;
    display: flex;
    align-items: center;
    max-width: 800px;
    background-color: $color-grey-4;

    &::before {
      content: '';
      flex-shrink: 0;
      margin-right: 20px;
      display: block;
      height: 50px;
      width: 50px;
      background-color: $color-white;
      border-radius: $border-radius;
      background-repeat: no-repeat;
      background-size: 30px;
      background-position: center center;
      background-image: url('./img/icons/setup.svg');
    }
  }

  &__setup-text {
    display: grid;
  }

  &__setup-check {
    order: -1;
    margin-right: 21px;
    border-color: $color-grey-1;
    height: 20px;
    width: 20px;

    &:focus-visible:not(:active),
    &:hover:not(:focus):not(:active) {
      outline-color: $color-hover;
    }
    &:active {
      outline-color: $color-active;
    }
  }

  &__setup-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 145%;
  }

  &__setup-descr {
    font-size: 14px;
    color: $color-grey-1;
  }

  &__summary {
    grid-column: 2;
    grid-row: 2;
  }
}

.cart-prod {
  position: relative;
  padding: 20px 5px 15px 15px;
  display: grid;
  grid-template-columns: 115px minmax(200px, 300px) 1fr minmax(auto, 112px) 35px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'img ttl . . del'
    'img dsc ctrls price .'
    'img art one . .';
  align-items: center;
  gap: 0 15px;
  min-height: 140px;

  &:not(:last-child) {
    border-bottom: 1px solid $color-grey-3;
  }

  &__thumb {
    grid-area: img;
    object-fit: contain;
  }

  &__title {
    grid-area: ttl;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 600;
    line-height: 145%;
  }

  &__descr {
    grid-area: dsc;
    margin-bottom: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: $color-dark-2;
  }

  &__article {
    grid-area: art;
    margin-bottom: 0;
    display: block;
    color: $color-grey-1;
  }

  &__controls {
    grid-area: ctrls;
    justify-self: center;
  }

  &__price-one {
    grid-area: one;
    justify-self: center;
    font-family: $font-roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
  }

  &__total {
    grid-area: price;
    justify-self: end;
    font-family: $font-roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 145%;
  }

  &__btn-delete {
    grid-area: del;
    align-self: flex-start;
    justify-self: flex-end;
  }
}

.count-controls {
  display: flex;
  gap: 2px;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 32px;
    background-color: $color-grey-4;

    &--minus {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &--plus {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  &__prod-count {
    border: none;
    display: flex;
    width: 32px;
    height: 34px;
    text-align: center;
    background-color: $color-grey-4;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
    }
  }
}

.cart-summary {
  border-radius: $border-radius;
  padding: 35px 30px;
  background-color: $color-grey-4;
  transform: translateY(10px);

  &__title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
    line-height: 120.523%;
  }

  &__dl {
    margin-bottom: 10px;
    border-bottom: 1px solid $color-grey-5;
    padding-bottom: 10px;
  }

  &__list-wrap {
    margin-bottom: 17px;
    display: flex;
    justify-content: space-between;
  }

  &__dt {
    font-size: 16px;
    font-weight: 500;
    line-height: 145%;
  }

  &__dd {
    font-family: $font-roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 145%;
  }

  &__total-wrap {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__total-descr {
    font-size: 18px;
    font-weight: 600;
    line-height: 145%;
  }

  &__total-price {
    font-family: $font-roboto;
    font-size: 26px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.13px;
  }

  &__btn-submit {
    margin-bottom: 12px;
  }

  &__btn-submit,
  &__btn-buy {
    width: 100%;
  }
}

.btn {
  border-radius: 4px;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  font-size: 18px;
  font-weight: 600;
  line-height: 145%;
  transition: 0.15s ease-in color, 0.15s ease-in background-color, 0.15s ease-in border-color;

  &--primary {
    color: $color-white;
    background-color: $color-primary;

    &:focus-visible:not(:active),
    &:hover:not(:focus):not(:active) {
      background-color: $color-hover;
    }
    &:active {
      background-color: $color-active;
    }
  }

  &--secondary {
    border: 1px solid $color-primary;
    color: $color-primary;

    &:focus-visible:not(:active),
    &:hover:not(:focus):not(:active) {
      color: $color-hover;
      border-color: $color-hover;
    }
    &:active {
      color: $color-active;
      border-color: $color-active;
    }
  }
}
.last-products {
  &__top {
    margin-bottom: 37px;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    max-width: 500px;
    font-size: 30px;
    font-weight: 600;
    line-height: 120.523%;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

.slider-controls {
  display: flex;
  align-items: baseline;

  &__btn {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: $color-grey-2;
    transition: 0.15s ease-in background-color;

    &--mirror svg {
      transform: scale(-1);
    }

    &:focus-visible:not(:active),
    &:hover:not(:focus):not(:active) {
      background-color: $color-hover;
    }

    &:active {
      background-color: $color-active;
    }
  }

  &__num-page {
    padding-left: 20px;
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
  }

  &__of-page {
    padding-right: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
  }
}

.card {
  padding: 25px;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 563px;
  background-color: $color-grey-4;

  &__title {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    line-height: 120.523%;
  }

  &__img {
    order: -1;
    align-self: center;
    margin-bottom: 5px;
    width: 100%;
    height: 245px;
    object-fit: contain;
  }

  &__descr {
    margin-bottom: 10px;
    flex: 1;
    font-size: 14px;
    font-weight: 400;
    line-height: 145%;
  }

  &__current-price {
    margin-bottom: 3px;
    font-family: $font-roboto;
    font-size: 22px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.11px;
  }

  &__orig-price {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 145%;
    color: $color-grey-1;
  }

  &__link {
    width: 100%;
  }
}
